<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to ASP.NET Web API!</h1>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div id="employeeForm">
            <h3>Add Employee</h3>
            <div>Name:
                <input id="name" type="text" /></div>
            <div>Age:
                <input id="age" type="text" /></div>
            <div>
                Gender:
                <select id="gender">
                    <option>Male</option>
                    <option>Female</option>
                </select>
                <div>
                Occupation:
                <select id="occupation">
                    <option>Developer</option>
                    <option>Manager</option>
                    <option>Other</option>
                </select>
            </div>
            <div>
                <input type="button" value="Add" id="addEmployee" />
            </div>

            <div>
                <h3>All Employees</h3>
                <div id="allEmployees"></div>
            </div>
        </div>
    </section>
</div>

@section scripts
{
    <script>
        jQuery(document).ready(function () {

            //create new app object
            var app = new MyNs.App();

            //initialize the JS app
            app.init();
        });
    </script>
}

